html {
    box-sizing: border-box;
}

body {
    margin: 0;
    min-height: 100vh;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    /* font-size: 20px;
    font-weight: bolder; */
    font: bolder 20px 'Courier New', Courier, monospace;
    line-height: 2em;
}

.container {
    width: 80%;
    margin: auto;
}

.box1 {
    min-height: 80vh;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: #fff;
    background-color: darkcyan;
    padding: 20px;
    
    border-top: 6px lightcyan dotted;
    border-right: 6px lightsalmon solid;
    border-bottom: 8px lightgreen dashed;
    border-left: 6px yellowgreen ridge;

    margin-top: 7vh;
}

.box1 h1 {
    color: rgba(2, 255, 255, 0.8);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-transform: uppercase;
    letter-spacing: -0.18em;
    word-spacing: 0.5em;
}